.favsPage {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-evenly;
  contain: content;
  overflow: hidden ;

}

.favsHeading {
  color:#FFDE00;
  margin-left:40%;
  margin-right:40%;
}

.singleFavMon {
  display: flex;
  width:200px;
  flex-direction: column;
  box-shadow: 5px 3px 3px grey;
  background-color:#354861;
  margin:2px;
}

.favName {
  margin-left:30%;
}

.pokeImage {
  height:80%;
  width:80%;
  padding:0px;
}

.pokeType {
  margin-left: 30%;
}