.wholePc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.home-button {
  width:60%; 
  margin-bottom: 5%;
}

.pcBox {
  display:flex;
  flex-wrap: wrap;
}