.wild {
 display: flex;
 flex-wrap: wrap;
 width: 100%;
 height: 100%;
 margin-top:40vh;
}

.card {
 margin-top:100px;
  /* padding: 40px; */
  /* text-align: center; */
}

.card:hover {
  animation: bounce 0.5s linear;
}

.card-image {
  position:relative;
  width:150px;
  height: 150px;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}

[id="1"] {
  margin-right: 10px;
  margin-top: 80px;
}

[id="2"] {
    margin-right: 30px;
}

[id="3"] {
    margin-right: 123px;
    margin-top: 90px;
}

[id="4"] {
    margin-top: 92px;
    margin-right: 87px;
}

[id="5"] {
  margin-top: 92px;
    margin-right: 109px;
}

[id="6"] {
  margin-top: 132px;
    margin-left: -10px;
}