.wild {
display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  flex-wrap: wrap;
  margin-top:10%; 
  width: 100vw;
  height: 70vh;
  align-content: space-around;

 
}
.wild-pokemon {
  cursor: url('../../Assets/pokeCurser.png') auto;
}

.card {
 margin-top:100px;
}


.card:hover {
  animation: bounce 0.5s linear;
}

.card-image {
  position:relative;
  width:300px;
  height: 300px;
}

@keyframes bounce {
  20% {
    transform: translateY(-6px);
  }

  40% {
    transform: translateY(0px);
  }

  80% {
    transform: translateY(-2px);
  }

  100% {
    transform: translateY(0);
  }
}


@media screen and (max-width: 650px) {

  .card-image {
    width: 20vw;
  }
}











/* [id="1"] {
  margin-right: 10px;
  margin-top: 80px;
}

[id="2"] {
    margin-right: 30px;
}

[id="3"] {
    margin-right: 123px;
    margin-top: 90px;
}

[id="4"] {
    margin-top: 92px;
    margin-right: 87px;
}

[id="5"] {
  margin-top: 92px;
    margin-right: 109px;
}

[id="6"] {
  margin-top: 132px;
    margin-left: -10px;
} */