.searchResultsPage {
      display: flex;
      width:100%;

}

.searchBar {
      margin-left:43vw;
      position:relative;
}
.singleSearchDisplay {
 
      display: flex;
      width: 30%;
      height: 30%;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      box-shadow: 5px 3px 3px grey;
      background: radial-gradient(circle, rgba(255, 222, 0, 1) 0%, rgba(204, 0, 0, 1) 63%, rgba(59, 76, 202, 1) 100%);
      margin: 1%;
 
}






@media screen and (max-width: 1000px) {
      .searchBar {
            margin-top: 3%;
            margin-left: 41vw;
      }
      
}

@media screen and (max-width: 800px) {
      .searchBar {
            margin-top: 3%;
            margin-left: 39vw;
      }
      
}
@media screen and (max-width: 650px) {
      .searchBar {
            margin-top: 5%;
            margin-left: 33vw;
      }

}
