.single-mon-page {
  /* background-color: aquamarine; */
}

.caughtMon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  flex-direction: column;
  box-shadow: 5px 3px 3px grey;
  background-color: #354861;

}