.caughtMon {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.monInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
  flex-direction: column;
  box-shadow: 5px 3px 3px grey;
  background-color: #ce370d68;
}

@media screen and (max-width: 650px) {
  .monInfo { 
    width: 50vw;
  }
}

.caughtImage {
  width: 100%;
}
.home-button {
  margin-left: 30%;
  width:40%;
}

